{% extends 'SignInUp.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a href="{{ path('app_login') }}" class="logo d-flex align-items-center w-auto">
                                <img src="{{ asset('/uploads/images/easyColloc.png') }}" alt="">
                                <span class="d-none d-lg-block">EasyColloc</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Reset Your Password</h5>
                                    <p class="text-center small">Enter your email address to receive a link to reset your password</p>
                                </div>

                                {% for flash_error in app.flashes('reset_password_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                {% endfor %}

                                {{ form_start(requestForm, {'attr': {'class': 'row g-3 needs-validation', 'novalidate': 'novalidate'}}) }}

                                    <div class="col-12">
                                        {{ form_label(requestForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                                        <div class="input-group has-validation">
                                            {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'autocomplete': 'email', 'required': 'required'}}) }}
                                            <div class="invalid-feedback">Please enter your email address.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <small>Enter your email address, and we will send you a link to reset your password.</small>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Send password reset email</button>
                                    </div>

                                {{ form_end(requestForm) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- End #main -->
{% endblock %}
