{% extends 'SignInUp.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a href="{{ path('app_login') }}" class="logo d-flex align-items-center w-auto">
                                <img src="{{ asset('/uploads/images/easyColloc.png') }}" alt="">
                                <span class="d-none d-lg-block">EasyColloc</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Reset Your Password</h5>
                                    <p class="text-center small">Enter your new password below</p>
                                </div>

                                {{ form_start(resetForm, {'attr': {'class': 'row g-3 needs-validation', 'novalidate': 'novalidate'}}) }}

                                    <div class="col-12">
                                        {{ form_label(resetForm.plainPassword, 'New Password', {'label_attr': {'class': 'form-label'}}) }}
                                        <div class="input-group has-validation">
                                            {{ form_widget(resetForm.plainPassword, {'attr': {'class': 'form-control', 'autocomplete': 'new-password', 'required': 'required'}}) }}
                                            <div class="invalid-feedback">Please enter your new password.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Reset password</button>
                                    </div>

                                {{ form_end(resetForm) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- End #main -->
{% endblock %}
